################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-debug
/.vs
/BackpropHiddenLayer/a.out
/BackpropHiddenLayer/NeuralLayer.hpp.gch
/BackpropHiddenLayer/NeuralNet.hpp.gch
/BackpropHiddenLayer/Perceptron.hpp.gch
